body {
  margin:  5px 5%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width:90%;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
