.article{
  margin: 20px auto;
  width: 100%;
  vertical-align: middle;

  &--content {
  background-color: white;
  display: inline-block;
  width: 26%;
  height: 355px;
  margin-right: 2%;
  padding: 3%;
  vertical-align: middle;
  position: relative;
  box-shadow: $box-shadow;

  &:nth-child(3) {
    margin-right: 0;
  }

  }

  &--headline {
    font-weight:300;
    line-height: .95;
  }

  &--date {
    font-size: .85rem;
    color: #bbb;
  }

  &--read-more {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 200px;
    margin: 0 auto;
      a {
      text-decoration: none;
      color: #B4282F;
      font-weight:bold;
      }
    }
  }
