@mixin contact--connect-navbar--icon {
  & {
    text-align: center;
    width: 30px;
    height: 23px;
    color: #aeaeae;
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding-top: 7px;
    }
}

.contact {
  background-color: white;
  padding: 30px auto;


  &--left {
    float: left;
    width: 45%;
    margin: auto 5%;

  h1 {
    font-weight:300;
    line-height: .9;
  }


      .contact--connect-navbar {
      height: 30px;
      float: left;

      .facebook {
        @include contact--connect-navbar--icon;
        background-color: #4f4f4f;
      }
      .rss {
        @include contact--connect-navbar--icon;
        color: #aaa;
        background-color:#666;
      }
      .twitter {
        @include contact--connect-navbar--icon;
        background-color: #7a7a7a;
      }

      .youtube{
        @include contact--connect-navbar--icon;
        background-color: #757575;
      }
    }
  }
  &--right {
    width: 40%;
    float: right;
    margin: auto 5% auto 0;


    .form-item {
        margin: 20px auto;
          input, textarea {
          line-height: 2;
          width: 100%;
        }
      }

    .form-submit {
        text-align: center;
        width: 50%;
        height: 30px;
        color: white;
        padding-top:15px;
        background-color: #B4282F;
        float:right;

        a {
          text-decoration: none;
          color: white;
          font-weight: 200;
        }
      }
    }
}
