.site-navbar {
  width: 100%;
  text-align: justify;


  .navicon{
    display: inline-block;
    text-align: center;
    width: 242px;
    height: 30px;
    color: white;
    margin: 15px 10px 20px 0;
    float: left;
    padding-top:15px;
    text-transform: uppercase;
    background-color: #B4282F;
    border-bottom: 5px solid #aaa;

    &--text {
      font-weight:600;
      padding: 0 15px;
      display: inline-block;
    }
    &--text span {
      text-align: justify;
      font-weight: 200;
      padding: 0 20px;
    }
  }
}

.navicon:nth-child(4) {
  margin-right: 0;
}
