.skateboard-lineup {
  background-color: white;
  border-bottom: 5px solid #aaa;
  margin-top: 15px;
    &--board {
      text-align: center;
      display: inline-block;
      margin: 15px auto;
      width: 10%;
      float: left;
  }
}
