.skateboard-lineup {
  background-color: white;
  box-shadow: $box-shadow;
  margin-top: 15px;
    &--board {
      text-align: center;
      display: inline-block;
      margin: 15px auto;
      width: 10%;
      float: left;
  }
}
